/Big Data/2ª Termo/Java I/Agro/nbproject/private/
/Big Data/2ª Termo/Java I/Agro/build/
/Big Data/2ª Termo/Java I/LojaAgricola/nbproject/private/
/Big Data/2ª Termo/Java I/LojaAgricola/build/
/Big Data/2ª Termo/Java I/JavaFXApplication1/nbproject/private/
/Big Data/2ª Termo/Java I/JavaFXSwingApplication/nbproject/private/
/Big Data/2ª Termo/Java I/JavaFXSwingApplication/build/
/Big Data/2ª Termo/Java I/JavaFXSwingApplication/dist/
/Big Data/2ª Termo/Java I/aulaVinteCinco/nbproject/private/
/Big Data/2ª Termo/Java I/aulaVinteCinco/build/